body{
    background-color: rgb(163, 119, 119);
    background-position: 0ch;
    background-image:  url(./Images/download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}


header{

   
    text-align: center;
  
   
}
nav{
    background-color: #5755554d;
    height: 40px;
    text-align: center;
  
}


main{
    text-align: center;
    height: 400px;
    padding-top: 80px;
    padding-right: 240px;
    padding-left: 240px;
   
  
}

footer{
    background-color: rgb(65, 75, 59);
    height: 100px;
   
}

h1{
    size: 84px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /*text-decoration: none;*/
}